@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.worksheet::-webkit-scrollbar {
    width: 10px;
}

.worksheet::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.worksheet::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.showhidden-enter-active {
    animation: show-menu .3s;
    animation-timing-function: ease-in-out;
}

.showhidden-leave-active {
    animation: show-menu .1s reverse;
    animation-timing-function: ease-in-out;
}

@keyframes show-menu {
    
    0% {
        transform: scale(0);
        opacity: 0.4;
    }

    25%{
        transform: scale(0.5);
        opacity: 0.5;
    }

    50% {
        transform: scale(0.75);
        opacity: 0.6;
    }

    75%{
        transform: scale(0.85);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}